.todo {
   display: grid;
   padding: 20px;
   grid-template-columns: 70% 1fr;
}
.todo--header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.todo--header > h1 {
    margin: 0;
    font-size: 1.5rem;
    color: black;
}

